html{
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
}

body{
    overflow-y: auto;
    margin: 0px;
    position: relative;
    min-height: 100%;
    height: auto;
}
.ui-loader {
  display: none !important;
}
input:invalid {
    box-shadow: none;
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-22{
  font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-26{
	font-size: 26px;
}
.font-28{
	font-size: 28px;
}
.font-30{
	font-size: 30px;
}
.font-32{
	font-size: 32px;
}
.font-34{
	font-size: 34px;
}
.font-36{
	font-size: 36px;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.block{
  display: block;
}

/*****Index Page****/

.shoptalk-brand{
  color: white !important;
  font-weight: bold;
  cursor: pointer;
}
.main-nav{
  height:8% !important;
  border-radius: 0 !important;
  background-image: linear-gradient(to bottom, #000000, #000000 100%);
  border: 1px solid #000000;
}

#myCarousel{
  height: 100%;
}

.carousel-indicators li{
  background-color: black;
  border: 1px solid black;
}

.main-header{
  margin-top: 120px;
  color: #FFFFFF !important;
}
.main-header-subtext{
  font-size: 38px;
  margin-top: 50px;
  color: #FFFFFF !important;
}

.main-jumbo{
  position: relative;
  height: 84.5%;
  background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url('../img/background.png') no-repeat center;
  background-size: 100% 100%;
}

.main-jumbo-shrink{
  margin-bottom: 0px;
}

.navbar-toggle:focus{
  background-color: #3d3d3d !important;
  border-color: #5c5c5c !important;
}

.carousel-control{
  width: 8%;
}

footer{
  background-color: #000000;
}

footer p{
  margin-top:15px;
  font-weight: bold;
  color: white !important;
}

#signin{
  position: relative;
  left: -50%;
  width: 100%;
  height: 0px;
}

.sign-in{
  background-color: black;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
  height: 50px;
  line-height: 50px;
  padding-left: 4.75%;

}

.credential-panel{
  z-index: 30;
  margin-top: 150px;
  margin-left: 35%;
  width: 30%;
  height: 265px;
  border-radius: 5px;
}
.signin-panel{
margin-left: 15%;
width: 70%;

}

#reg-panel{
  margin-top: 30px;
}

.credential-form{
  background-color: #5b8fff;
  border-radius: 5px;
  margin-bottom: 0px !important;
  padding-bottom: 35px;
  box-shadow: 0px 0px 5px white;
}

.signin-credential, .reg-credential, .newmail-credential{
  margin-left: 5%;
  height: 10%;
  width:90%;
  border: 1px solid black;
}

.newmail-textarea, .viewmail-textarea{
  margin-left: 5%;
  width:90%;
  border: 1px solid black;
}

.viewmail-textarea{
  margin-top: 10px;
}

.credential-label{
  color: black;
  font-weight: bold;
  margin-left:5%;
  margin-top: 7px;
}

.signin-button, .register-button{
  color: black;
  float: right;
  margin-top: 4.5%;
  margin-right: 5%;
  background: none;
  border: 1px solid black;
  border-radius: 6px;
  width:75px;
  height: 30px;
  font-weight: bold;
  text-shadow: none;
}


.signin-button:hover,.register-button:hover{
  background-color: #4872cc;
  color: white;
  border-color: black;
}

#login_notice, #reqacc_notice{
  border: none;
}


/****Shoptalk Main****/


.navbar-style{
  background: #5b8fff;
  border-radius: 0px;
  border: none;
}

#nav-chat{
  padding-top: 0px;
}

.mobile-brand{
  margin-top:-7px;
}

.brand-color {
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.brand-color:hover{
  text-decoration: none;
  color: black;
}

#reqacc_submit{
  margin-top: 17px;
}

#newmail_send, #newgroup_save{
  margin-top: 4%;
}

#newmail_send:hover, #newgroup_save:hover{
  border: 1px solid black;
  background-color: #cccccc;
  color: black;
}

.shop-talk-unread-msg td{
  font-weight: bold;
}

#newmail-form{
  padding-bottom: 65px;
  border-radius: 0px !important;
  background-color: #e5e5e5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

#viewmail-form{
  border-radius: 0px !important;
  background-color: #e5e5e5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

#invitechat-form{
  border-radius: 0px !important;
  background-color: #e5e5e5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  padding-bottom: 45px !important;
}

#newgroup-form{
  border-radius: 0px !important;
  background-color: #e5e5e5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  padding-bottom: 45px !important;
}


#delmail-form{
  border-radius: 0px !important;
  background-color: #e5e5e5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

#newchat-form{
  border-radius: 0px !important;
  background-color: #e5e5e5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  padding-bottom: 1px !important;
}

#delmail_submit{
  margin-top: -2%;
}

#viewmail-panel{
  margin-top: 5% !important;
}

.modal-header{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  background-color: #5b8fff;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  border-bottom: 1px solid black;
}

.mail_subject{
  line-height: 23px !important;
}

.chat_subject{
  line-height: 23px !important;
}
.group_subject{
  line-height: 23px !important;
}

#newmail-panel{
  margin-top: 5%;
}

#newgroup_tagfield{
  max-height: 160px;
  height: 88px;
  overflow-y: auto;
}

#homepage{
  display: block;
  cursor: pointer;
}

#discussion-page{
  display: none;
  cursor: pointer;
}

.discussion-header{
  margin-left: 20%;
}

.new-discussion-button{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  border-radius: 5%;
  width: 40px;
  height: 40px;
}

.disc-panel{
  z-index: 30;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
}

.new-disc-header{
  padding-top: 3%;
  margin-left: 5%;
}

.discussion-title{
  margin-left: 5%;
}

.disc-title-text{
  margin-left: 5%;
  height: 8%;
  width:90%;
  border: 1px solid black;
}

.disc-text{
  margin-left: 5%;
  height: 45%;
  width:90%;
  border: 1px solid black;
}

.disc-button{
  float: right;
  margin-top: 1%;
  margin-right: 5%;
}

.brand{
	font-weight: bold;
}
/***Chat Session****/

.chat-area{
  height: 42%;
  max-width: 90%;
  display: block;
  margin: auto;
  margin-top: -3%;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  overflow-y: auto;
}

#blackboard{
  height: 50%;
  width:100%;
}

#canvas{
  width: 100.5%;
  height:95%;
  background: url("../img/whiteboard.png") no-repeat;
  background-size: 90% 90% ;
  margin-top: 1%;
  margin-left: 4.5%;
}

.chat-text{
  margin-top:1.5%;
  margin-left: 6%;
  height: 5%;
  width: 94%;
  border: 1px solid black;
}

.chat-transcript-header-row{
  position: relative;
  top: -24px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right:1px solid black;;
  width: 90%;
  height: 25px;
  background-image: linear-gradient(#5b8fff , #4872cc);
}
#transcript_table{
  margin-top: 15px;
}

#transcript_table tr td{
  border: none;

}
.shoptalk-chat-speaker-col{
  border-bottom: #b2efb2 !important;
}
.shoptalk-chat-text-col{
  border-bottom: #b2efb2 !important;
}

.chat-invite-text{
  width: 44%;
  padding-right: 2px !important;
  padding-left: 4px !important;
}
.chat-invite-label{
  width: 15%;
  padding-right: 2px !important;
  padding-left: 18px !important;
}

#chatinvite{
  margin-top: -20px;
}

.chat-wrapper{
  overflow-y: auto;
  height: 50px;
}

.user-invitation{
  padding-left: 23px !important;
  padding-right: 12px !important;
}

#member-name{
  margin-top: -5px;
  padding-left: 21px;
  padding-top: 5px;
  width: 100%;
  border-top: 1px solid black;
}

#invitechat-panel{
  margin-left: 38%;
  width: 25%;
}

#invitechat_save{
  margin-top: 8px;
}

.chat-invite-table tr td{
  border-top: none !important;
}

.stripes > tbody > tr:nth-of-type(odd) {
  background-color: #193140;
}

/******Account*******/
#profile_panel table td{
    border: none;
}

#profile_panel{
  margin-top: -15%;
}

#profile_panel input[type = 'text']{
  border-radius: 5px;
}

#profile_panel select{
  border-radius: 5px;
}

#acc_submit{
  margin-top: 10px;
}

/******Chat******/
.chat-table{
  margin-top: -10%;
  margin-bottom: 10px;
}

.chat-table tr td{
  padding: 0px !important;
  border: none !important;
}

.help-button{
  line-height: 40px;
}
.quick-set{
  width: 150px;
}

#newchat_title{
  margin-right: 20%;
  width: 90%;
}
.chat-button{
  width: 55%;
  margin-right: 26%;
  margin-top: 2%;
}
.chat-button:hover{
  border: 1px solid black;
  background-color: #b7b7b7;
}

/*****Group*****/

.group-invite-text{
  width: 44%;
  padding-right: 2px !important;
  padding-left: 4px !important;
}
.group-invite-label{
  width: 32%;
  padding-right: 2px !important;
  padding-left: 18px !important;
}

.group-invite-table tr td{
  border-top: none !important;
}

.newgroup-credential{
  width: 100%;
}

#newgroup_save{
  margin-top: 8px;
}

/* make sidebar nav vertical */
@media only screen and (min-width: 768px) {
  .navbar{
    height: 100%;
    margin-bottom: 0px;
  }



  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    font-weight: bold;
  }

  .sidebar-nav .navbar li a:hover {
    color: #b2b2b2;
  }


  .sidebar-nav-right .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav-right .navbar ul {
    float: none;
  }
  .sidebar-nav-right .navbar ul:not {
    display: block;
  }
  .sidebar-nav-right .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav-right .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    font-weight: bold;
  }

  .sidebar-nav-right .navbar li a:hover {
    color: #b2b2b2;
  }
  .block{
  display: block;
  text-align: center;
}
.col-sm-2{
  padding-left: 0px;
  padding-right: 0px;
}
.btn{
  position: relative;
  width: 68%;
  top: 11px;
  right: 10px;
  padding: 3% 1%;
}
.dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
  body{
    overflow-y: scroll;
  }

/*index Page*/

.drop-nav li a{
  font-weight: bold;
  color: white !important;
}

.drop-nav li a:hover{
  color: #777 !important;
}

#nav-home{
  display: none;
}

.navbar-brand{
  font-size: 26px;
  font-weight: bold;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-toggle{
  border: 1px solid black !important;
  background-color: white;
}

.icon-bar{
  background-color: black !important;
}

.navbar-toggle:focus{
  background-color: #999999 !important;
}

#navbar-collapse-1{
  z-index: 10 !important;
  position: relative;
  top: -1px;
  border: none !important;

}
.credential-form{
  background-color: #5b8fff;
  border-radius: 5px;
  margin-bottom: 0px !important;
  padding-bottom: 30px;
}

.credential-panel{
  margin-left: 7.5%;
  width: 85%;
  height: 265px;
}

.credential-label{
  font-size: 12px;
}

.signin-panel{
  margin-left: 2.5%;
  width: 95%;
}

.signin-button{
  margin-top: 15px;
}

.main-header{
  font-size: 40px !important;
  margin-top: 150px;
}
.main-header-subtext{
  font-size: 26px !important;
  margin-top: 50px;
}

.carousel{
  width: 99%;
}

.carousel-control{
  display: none;
  width: 0%;
}

/*Shoptalk Main*/
  .sidebar-nav{
    border-bottom: 1px solid black;
  }

  .sidebar-navbar-collapse{
    border-color: black !important;
  }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    font-weight: bold;
  }

  .sidebar-nav .navbar li a:hover {
    color: #b2b2b2;
  }

   .sidebar-nav-right{
   width: 100%;
   position: fixed;
   left: 0;
   bottom: 0px;
   border-top: 1px solid black;
 }

    .sidebar-nav-right .navbar ul li {
    display: inline-block;
}
    .sidebar-nav-right .navbar ul li a{
    text-align: center;
    margin: auto;
    display: inline-block;
    color: black;
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}
.block{
  display: block;
  text-align: center;
}

.navbar{
  margin-bottom: 0px;
}
.chat-area{
  height: 65%;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  overflow-y: auto;
}
.chat-text{
  margin-top:1%;
  margin-left: 0%;
  height: 5%;
  width:76%;
  border: 1px solid black;
}

.col-sm-10{
  width: 83.33333333%;
  padding-left: 15px;
  padding-right: 0px;
  display: inline;
}
.col-sm-2{
  width: 16.66666667%;
  padding-left: 0px;
  padding-right: 0px;
  display: inline;
}
.btn{
  position: relative;
  height: 5%;
  top:0px;
  line-height: 0px;
  padding: 10px 1%;
  margin-left: .5%;
  width: 14%;
}

.discussion-header{
  font-size: 22px;
  margin-left: 0%;
}

.new-discussion-button{
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -38px;
  position: relative;
  border-radius: 5%;
  width: 30px;
  height: 30px;
  float: right;
}

.smaller-row{
  height: 15%;
}

.disc-panel{
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 330px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;

}

.discussion-title{
  margin-left: 5%;
  font-size: 22px;
}

.disc-title-text{
  margin-left: 5%;
  height: 8%;
  width:90%;
  border: 1px solid black;
}

.disc-text{
  margin-left: 5%;
  height: 30%;
  width:90%;
  border: 1px solid black;
}

.disc-button{
  float: right;
  margin-top: 7%;
  margin-right: 5%;
}

#newmail-panel{
  margin-top: 20%;
}

#viewmail-panel{
  margin-top: 20% !important;
}

.tool-item{
  color: white !important;
  font-size: 17px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}


/*****Account******/

#acc_settings{
  font-size: 24px;
}

#acc_submit{
  margin-top: 5px;
}
.acc_name{
  font-size: 22px;
}
.acc_user{
  font-size: 18px;
}
#profile_panel tr td{
  padding-bottom: 5px;
  padding-top:5px;
}
#account-table{
  margin-top: -10%;
}

/***MAILBOX****/

#delmail_submit{
  margin-top: -4%;
}

/*****Chat*****/

.chat-button{
  width: 100%;
  margin-right: 6%;
  margin-top: 5%;
  height: 80%;
}

/***Chat Session****/

.chat-area{
  height: 40%;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
}

#blackboard{
  height: 27%;
  width:100%;
}

#canvas{
  width: 100%;
  height:100%;
  background: url("../img/whiteboard.png") no-repeat;
  background-size: 100% 100% ;
  margin-top: 2%;
  margin-left: 0px;
}

.chat-transcript-header-row{
  position: relative;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width:100%;
  height: 25px;
  background-image: linear-gradient(#5b8fff , #4872cc);
}

.chat-invite-label{
  padding-top: 14px !important;
}

#invitechat-panel{
  margin-left: 7%;
  width: 85%;
}
#invitechat_save{
  margin-top: 8px;
}

.chat-table tr td{
  border:
}

.invitechat-credential{
  width: 100%;
}

.chat-invite-text{
  width: 66%;
}

}